header.main-header
    nav.main-header__nav
      ul.main-header__item-list
        li.main-header__item
          a(href="/", class={active : path === '/'}) shop
        li.main-header__item
          a(href="/products", class={active : path === '/products'}) products
        li.main-header__item
          a(href="/cart", class={active : path === '/cart'}) cart
        li.main-header__item
          a(href="/order", class={active : path === '/order'}) order
        if isLogin
          li.main-header__item
            a(href="/admin/add-product",class={active: path === '/admin/add-product'}) product
          li.main-header__item
            a(href="/admin/products",class={active: path === '/admin/products'}) admin product
      ul.main-header__item-list
        li.main-header__item
          a(href="/login" class={active : path === '/login'}) Login