header.main-header
    nav.main-header__nav
      ul.main-header__item-list
        li.main-header__item
          a(href="/", class={active : path === '/'}) shop
        li.main-header__item
          a(href="/admin/add-product",class={active: path === 'add-product'}) product