extends layout/main

block content
  main
    .grid
      if product.length > 0
        each products in product
          article.card.product-item
            header.card__header
              h1.product__title #{products.title}
            .card-image
              img(src="", alt="Gambar Product")
            .card-content
              h2.product__price Rp. 50.000
              p.product__description Coba saja
            .card__actions
              button.btn Add to cart
      else
        h1 No product