extends ../layout/main

block content
  main
  if order.length <= 0
    h1 Nothing there! 
  else
    ul.orders
      each orders in order
        li.orders__item 
          h1 order - # #{orders._id}
          ul.orders__products
            each item in orders.products
              li.orders__products-item #{item.product.title} (#{item.quantity})
                a(href="/invoice/"+orders._id target="_blank") invoice 