extends ../layout/main

block content
  main
    form.product-form(action="/admin/add-product", method="post")
      .form-control
        label(for="title") Title
        input(type="text",name="title",id="title")
      button.btn(type="submit") Add Product