extends ../layout/main

block content
  main
    if message.length 
      .user-message.user-message--error #{message}
    form.login-form(action='/login', method="post")
      input(type="hidden" name="_csrf" value=csrfToken)
      .form-control
        label(for="email") E-mail
        input(type="email" name="email" value=oldInput id="email" required)
      .form-control
        label(for="password") password
        input(type="password" name="password" id="password" required)
      button.btn(type="submit") Login
    .centered
      a(href="/forgot-password") forgot password