extends ../layout/main

block content
  main
    if message.length 
      .user-message.user-message--error #{message}
    form.login-form(action='/new-password', method="post")
      input(type="hidden" name="_csrf" value=csrfToken)
      input(type="hidden" name="userId" value=userId)
      input(type="hidden" name="token" value=token)
      .form-control
        label(for="password") password
        input(type="password" name="password" id="password" required)
      button.btn(type="submit") Update Password