extends ../layout/main

block content
  main
    if message.length
      .user-message.user-message--error #{message}
    form.login-form(action='/signup', method="post")
      input(type="hidden" name="_csrf" value=csrfToken)
      .form-control
        label(for="email") E-mail
        input(class={invalid : errorValidation.find(e => e.param === 'email')} type="email" name="email" id="email" value=oldInput('email') required)
      .form-control
        label(for="password") password
        input(class={invalid : errorValidation.find(e => e.param === 'password')} type="password" name="password" id="password" required)
      .form-control
        label(for="password2") confirm password
        input(class={invalid : errorValidation.find(e => e.param === 'password2')} type="password" name="password2" id="password2" required)
      button.btn(type="submit") Signup